rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowed() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in ['YOUR_EMAIL@gmail.com'];
    }

    match /roadmap-company/{docId} {
      allow read, write: if isAllowed();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
